# تجاهل ملف المتغيرات السرية والمفاتيح (أهم سطر لحمايتك)
.env

# تجاهل قاعدة البيانات المحلية (حتى لا يتم رفع بيانات التجارب الخاصة بك)
*.sqlite3

# تجاهل المجلدات التي تنشئها بايثون تلقائياً للكاش
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/

# تجاهل مجلد تجميع الملفات الثابتة محلياً
staticfiles/

# تجاهل ملفات النظام وإعدادات محررات الأكواد
.DS_Store
.vscode/
.idea/